{% extends 'base.html' %}
{% block main %}

<main class="form-signin">
  <form method="POST">
    <img class="mb-4" src="{{ url_for('static', filename='img/manage.svg') }}" alt="" width="300" height="240">
    <h1 class="h3 mb-3 fw-normal">Please login</h1>
    {{ form.hidden_tag() }}
  <div class="mb-5">
    <div class="form-group" style="text-align: left;">
      {{ form.email.label }}
      {{ form.email(placeholder="Email", class_='form-control') }}
    </div>
  </div>
  <div class="mb-5">
    <div class="form-group" style="text-align: left;">
      {{ form.password.label }}
      {{ form.password(placeholder="Password", class_='form-control') }}
    </div>
  </div>
  {{ form.submit(class_='w-100 btn btn-lg btn-primary') }}
  <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
  </form>
</main>

{% endblock main %}